@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@100;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@100;400;500;600&display=swap');
:root {
    --bg-color: linear-gradient(145deg, #1e2024, #23272b);
    --font-color: #111;
    --black: #212428;
    --color: #ffe700;
    --white: #eee;
    --violet: rgb(149, 12, 161);
    --orange: #fd4d05;
    --green: #0fd310;
    --light-color: #fff;
    --border: .2rem solid var(--color);
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.5);
    --logo-color1: #fc3a52;
    --logo-color2: #42b883;
    --home-img: #42b883;
    --menu-bar: #0e2431;
    --bright: #fff;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 5.5rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
}

.btn {
    background: transparent;
    color: var(--light-color);
    border: var(--border);
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 5rem;
    cursor: pointer;
}

.subheading {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color);
    font-weight: bold;
}

.btn:hover {
    background: var(--color);
    border: none;
}

.logo .log {
    font-size: 2rem;
    background: var(--color);
    padding: 1.3rem 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.theme {
    font-size: 3rem;
    color: var(--bright);
    cursor: pointer;
    padding: 1rem;
}

.logo {
    position: relative;
}

.logo::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: var(--light-color);
    z-index: -1;
    border-radius: 100%;
    animation: logo 4s linear infinite;
}

.logo::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: var(--light-color);
    z-index: -2;
    border-radius: 100%;
    filter: blur(20px);
}

.logo::before,
.logo::after {
    background: linear-gradient(to right, var(--logo-color1), var(--logo-color2));
}

@keyframes logo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo .log i {
    font-size: 2rem;
    color: var(--font-color);
    font-weight: bold;
}

.btn a {
    font-size: 1.5rem;
    color: var(--light-color);
    margin-right: .5rem;
}

.btn a:hover {
    color: var(--bg-color);
}

header {
    position: fixed;
    background: var(--black);
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--black);
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .navbar a {
    font-size: 1.7rem;
    padding: 0.5rem 1.5rem;
    color: var(--light-color);
    display: inline-block;
    font-weight: bold;
}

header .navbar a.active,
header .navbar a:hover {
    background: var(--color);
    color: var(--font-color);
    border-radius: .5rem;
}

header .icon i {
    cursor: pointer;
    margin-left: 0.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 4rem;
    color: var(--color);
}

header .icon i:hover,
header .icon a:hover {
    transform: rotate(360deg);
}

header .icon #menu-bars {
    display: none;
}

header .soumya {
    display: none;
}

.home {
    margin: 0 auto;
    margin-top: 9rem;
    width: 90%;
    background: var(--black);
    border-radius: 1rem;
    z-index: 0;
    box-shadow: var(--box-shadow);
}

.home .container {
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: space-between;
    padding: 8rem;
}

.home .container .image .kk {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    border-radius: 100%;
    position: relative;
}

.home .image img {
    max-width: 100%;
    width: 400px;
    border-radius: 100%;
    z-index: 3;
}

.home .content {
    text-align: center;
    margin-left: 2rem;
}

.home .content h1 {
    font-size: 4rem;
    color: var(--light-color);
}

.home .content h2 {
    margin-top: 1rem;
    font-size: 2.5rem;
    color: var(--white);
}

.home .content span {
    color: var(--color);
}

.home .content p {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--light-color);
    padding-bottom: 5rem;
    text-align: justify;
    line-height: 2;
}

.home .content .btn {
    font-size: 1.5rem;
    color: var(--light-color);
    margin-right: .5rem;
}

.home .content .btn:hover {
    color: var(--font-color);
}

.home .content .des {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .content .des .btn1 {
    margin-right: 2rem;
}

.home .social {
    display: flex;
    justify-content: end;
    font-size: 2rem;
    margin-top: -4rem;
}

.home .social i {
    background: none;
    color: var(--color);
    border: var(--border);
    border-radius: 100%;
    padding: 1rem;
    margin: .7rem;
}

.home .social i:hover {
    background: var(--color);
    color: var(--font-color);
    rotate: 360deg;
    transform: scale(1.2);
    transition: .6s;
}

.about {
    width: 90%;
    margin: 0 auto;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10rem;
    margin-top: 2rem;
}

.about .container .content {
    font-size: 1.4rem;
    line-height: 2;
    color: var(--light-color);
    text-align: justify;
}

.about .container .image {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
}

.about .container .image img {
    height: 350px;
    background: var(--black);
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

.about .container .content .con {
    margin-top: 1rem;
}

.about .container .content .btn:hover {
    color: var(--font-color);
}

.heading {
    margin-top: 8rem;
    text-align: center;
    font-size: 2rem;
    color: var(--light-color);
}

.skills .container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1rem;
}

.card {
    background: var(--black);
    border-radius: 1rem;
    overflow: hidden;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.card::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 140%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: edu 6s linear infinite;
    z-index: -1;
}

.card::after {
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 1rem;
    background: var(--black);
    z-index: -1;
}

@keyframes edu {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card .image-box {
    height: 200px;
    text-align: center;
    inset: 30px;
    z-index: 2;
    width: auto;
    padding: 1rem;
}

.card .image-box img {
    height: 100%;
    width: 100%;
}

.projects .project-container {
    margin: 0 auto;
    margin-top: 2rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    row-gap: 3rem;
    column-gap: 3rem;
}

.projects .projects_filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .projects_filter .project_id {
    margin: 0 1rem;
    background: transparent;
    padding: .6rem 1rem;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--light-color);
    border-radius: .5rem;
    cursor: pointer;
}

.projects .projects_filter .project_id.active-project {
    background: var(--logo-color1);
}

.projects .project-container .project-box {
    padding: 2rem;
    background: var(--black);
    cursor: pointer;
    position: relative;
    box-shadow: var(--box-shadow);
}

.projects .project-container .project-box .image img {
    height: 27rem;
    width: 100%;
    border: .2rem solid rgba(0, 0, 0, 0.5);
}

.projects .project-container .project-box .image img:hover {
    transform: scale(1.05);
    transition: .3s;
}

.projects .project-container .project-box .content {
    padding: 1rem;
}

.projects .project-container .project-box .content a {
    color: var(--light-color);
    font-size: 1.2rem;
}

.projects .project-container .project-box .content h3 {
    margin-top: 1.3rem;
}

.projects .project-container .project-box .content a:hover {
    color: var(--violet);
}

.projects .project-container .project-box .content h1 {
    font-size: 1.6rem;
    color: var(--light-color);
    text-align: center;
}

.projects .project-container .project-box .content i {
    color: var(--orange);
    font-size: 1.5rem;
    margin-left: .5rem;
    cursor: pointer;
}

.projects .project-container .project-box .content i:hover {
    padding-left: 2rem;
}

.certificates {
    margin: 0 auto;
    width: 80%;
    border-radius: 1rem;
    position: relative;
}

.certificates .heading {
    margin-bottom: 3rem;
}

.certificates_filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificates_filter .certificates_id {
    margin: 0 1rem;
    background: transparent;
    padding: .6rem 1rem;
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    color: var(--light-color);
    border-radius: .5rem;
    cursor: pointer;
}

.certificates_filter .certificates_id.active-certificates {
    background: var(--color);
    color: var(--font-color);
}

.certificates .certificates-container {
    columns: 2 35rem;
    column-gap: 1.5rem;
}

.certificates .certificates-container .certificates-box {
    margin-bottom: 1rem;
    break-inside: avoid;
    position: relative;
}

.certificates .certificates-container .certificates-box h3 {
    text-align: center;
    font-size: 2rem;
    color: var(--light-color);
}

.certificates img {
    width: 100%;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.contact .hello {
    position: relative;
}

.me {
    margin: 0 auto;
    margin-top: 2rem;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
    border-radius: .5rem;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow);
}

.alert {
    position: relative;
    margin: 0 auto;
    width: 30%;
    background: var(--white);
    display: block;
    padding: 3rem;
    border-radius: .5rem;
    margin-top: -50rem;
    display: none;
    margin-bottom: 35rem;
}

.alert #close {
    display: flex;
    justify-content: end;
    color: var(--orange);
    font-size: 2rem;
    font-weight: bold;
    margin-top: -3rem;
    margin-right: -2rem;
}

.alert #right {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: var(--green);
}

.alert h1 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 2rem;
}

.alert p {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--violet);
}

.me input,
textarea {
    width: 100%;
    padding: 12px;
    border: .3rem solid var(--violet);
    border-radius: 1rem;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
    background: none;
    color: var(--color);
}

.me label {
    position: absolute;
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-top: -.4rem;
    padding: 0 1rem;
    color: var(--light-color);
    z-index: 0;
    background: var(--black);
}

.me .btn {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 3rem;
    border: .2rem solid var(--orange);
}

.me .btn:hover {
    background: var(--orange);
    color: var(--bg-color);
}

.footer {
    margin-top: 2rem;
    width: 100%;
    background: var(--black);
    position: absolute;
    box-shadow: var(--box-shadow);
}

.footer .box-container {
    margin: 0 auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 2rem;
}

.footer .box-container .box {
    display: grid;
    row-gap: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2rem;
    color: var(--light-color);
}

.footer .box-container .box a {
    font-size: 1.5rem;
    padding-left: 1rem;
    color: #fc3a52;
}

.footer .box-container .box i:hover {
    padding-right: 2rem;
}

.footer .box-container .box a:hover {
    text-decoration: underline;
    color: var(--color);
}

.footer .box-container .box .social {
    display: flex;
    margin-left: -2rem;
}

.footer .box-container .box .social i {
    background: none;
    font-size: 2.5rem;
    border: .3rem solid #fc3a52;
    color: #fc3a52;
    padding: 1rem;
    border-radius: 50%;
}

.right {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--light-color);
}

.right span {
    color: #fc3a52;
}

.right .c {
    margin-right: 0.5rem;
}

.footer .box-container .box .social i:hover {
    border: var(--border);
    color: var(--color);
    transform: scale(1.2);
    rotate: 360deg;
    transition: .3s;
}

.qualification_container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10rem;
    justify-content: center;
    margin: 3rem;
}

.qualification_container .content {
    display: grid;
    gap: 2rem;
    margin-top: 1rem;
}

.qualification_container h1 {
    font-size: 1.9rem;
    color: #0fd4d0;
    cursor: pointer;
    font-weight: normal;
    margin-left: -1rem;
}

.qualification_container .content .box h2 {
    color: var(--white);
    font-weight: normal;
    font-size: medium;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.qualification_container .content .box h3 {
    color: var(--light-color);
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.qualification_container .content .box p {
    color: var(--logo-color1);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.qualification_container .box {
    padding-left: 20px;
    transition: .2s linear;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
    border-left: var(--border);
}

@media (max-width:991px) {
    html {
        font-size: 55%
    }
    header {
        padding: 1rem 2rem;
    }
    section {
        padding: 2rem;
    }
    .me {
        width: 80%;
    }
    .about .container {
        display: grid;
        gap: 1rem;
    }
}

@media (max-width:768px) {
    header .icon #menu-bars {
        display: inline-block;
    }
    .about .container .content .con {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .theme {
        padding: 0;
        margin-top: -1.5rem;
        margin-left: -1.3rem;
    }
    header .soumya {
        display: inline-block;
        color: var(--light-color);
        font-size: 2rem;
        font-family: 'Lobster', cursive;
        font-weight: normal;
    }
    header .soumya span {
        color: var(--color);
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--menu-bar);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        padding-top: 6rem;
        transition: linear .4s;
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        height: 100vh;
        transition: linear .4s;
    }
    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 3rem;
        color: var(--light-color);
        text-align: center;
    }
    header .navbar a.active,
    header .navbar a:hover {
        background: none;
        color: #fc3a52;
    }
    .home .container {
        align-items: center;
        justify-content: center;
        display: block;
    }
    .home .image {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home .container .image .kk {
        width: fit-content;
    }
    .home .container .content h1 {
        margin-top: 3rem;
        font-size: 2.5rem;
    }
    .home .container .content p {
        text-align: justify;
    }
    .home .container .content .des {
        display: grid;
        gap: 4rem;
    }
    .home .container .content .des .btn1 {
        margin-right: 0;
    }
    .home .social {
        justify-content: center;
    }
    .heading {
        margin-top: 8rem;
        text-align: center;
        font-size: 2.5rem;
    }
    .heading h1 {
        color: var(--light-color);
    }
    .heading span {
        color: var(--color);
    }
    .projects .project-container .box .image img {
        height: 25rem;
    }
    .projects .project-container {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
    .me {
        width: 80%;
    }
    .alert {
        width: 50%;
    }
    .card::before {
        height: 200%;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%
    }
    header {
        padding: 1rem 2rem;
    }
    .qualification_container {
        display: grid;
        grid-template-columns: 290px;
        row-gap: 3rem;
    }
    .about .container .image img {
        height: 200px;
    }
    .home .container .content h2 {
        font-size: 1.5rem;
    }
    .card .image-box {
        margin-bottom: -12rem;
    }
    .card .image-box img {
        height: 45%;
        width: 80%;
    }
    .projects .project-container .box .image img {
        height: 27rem;
    }
    .projects .project-container {
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    }
    .me {
        width: 100%;
    }
    .alert {
        width: 73%;
        margin-top: -55rem;
    }
    .footer .box-container {
        display: grid;
        margin-left: -2rem;
    }
    .footer .box-container .box .social {
        margin-left: 0;
    }
    .footer .box-container .box {
        margin-top: 2rem;
        text-align: left;
    }
    header .navbar {
        padding-top: 8rem;
    }
    .card::before {
        width: 50px;
        height: 200%;
    }
    .card::after {
        inset: 1.2px;
    }
    .educ {
        margin-left: 10.8rem;
    }
    .home .container .image .kk::before {
        width: 100px;
    }
}